/*-------------------------*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    line-height: 1;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*-------------------------*/

.form {
    width: 420px;
    margin: 20px auto;
    padding: 35px 0px 12px 0px;
    background-color: #f7f5f9;
    border-radius: 12px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.2);
}

.form_body {
}

.form_title {
    font-size: 20px;
    font-weight: bold;
    padding-left: 34px;
    color: #444444;
    text-align: left;
}

.form_item {
    margin: 22px 34px 22px 34px;
    border: 0px solid #ccc;
}
.form_item:focus {
    border: 1px solid #bfa4e0;
}

.form_input {
    font-size: 13px;
    height: 42px;
    width: 100%;
    padding: 0px 14px 0px 14px;
    border-radius: 6px;
    border: 0px solid #bfa4e0;
    outline: none;
}
.form_input:focus {
    border: 1px solid #bfa4e0;
}

.form_input:_error {
    box-shadow: 0 0 15px red;
}

.form_button {
    width: 100%;
    height: 42px;
    background-color: #697af8;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    border-radius: 6px;
    outline: none;
}
.form_button:focus {
    border: 1px solid #091a58;
}

input::-webkit-input-placeholder {
    color: #ccc;
}
input::-moz-placeholder {
    color: #ccc;
}
